Limpieza de archivo GAMES

In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns 
import ipywidgets as widgets
import ast

FUNCION 5 (Función disponible en el archivo proyecto_funciones.ipynb)
Preparación del DF para generar la función 5

ARCHIVO GAMES

In [2]:
# Lee el archivo JSON
with open(r"C:\Users\rossa\Desktop\HENRY\PROYECTO INDIVIDUAL\PI_ML_OPS\src\output_steam_games.json") as f:
    data = f.readlines()

# Elimina saltos de línea y concatena en una cadena JSON válida
data_json_str = "[" + ','.join(map(lambda x: x.rstrip(), data)) + "]"

# Crea un DataFrame desde la cadena JSON
data_df = pd.read_json(data_json_str)

# Guarda el DataFrame en un archivo CSV
#data_df.to_csv("df_steam_games.csv", index=False)

In [3]:
data_df.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,discount_price,specs,price,early_access,id,metascore,developer,user_id,steam_id,items,items_count
0,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,76561197970982479,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",277.0
1,None,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,None,None,js41637,7.656120e+16,"[{'item_id': '10', 'item_name': 'Counter-Strik...",888.0

In [4]:
data_df.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'discount_price', 'specs', 'price',
       'early_access', 'id', 'metascore', 'developer', 'user_id', 'steam_id',
       'items', 'items_count'],
      dtype='object')

In [5]:
type(data_df)

pandas.core.frame.DataFrame

In [6]:
data_df_nuevo = pd.DataFrame(data_df[['release_date','developer','price','items_count']])

In [7]:
data_df_nuevo.head(2)

  release_date developer price  items_count
0         None      None  None        277.0
1         None      None  None        888.0

In [8]:
data_df_nuevo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   release_date  30068 non-null  object
 1   developer     28836 non-null  object
 2   price         30758 non-null  object
 3   items_count   88310 non-null  float64
dtypes: float64(1), object(3)
memory usage: 3.7+ MB

In [9]:
type(data_df)

pandas.core.frame.DataFrame

In [10]:
data_df_nuevo.isnull().sum()

release_date    90377
developer       91609
price           89687
items_count     32135
dtype: int64

In [11]:
valor_dato =data_df_nuevo['release_date'][data_df_nuevo['release_date'].notna()]
valor_dato

88310     2018-01-04
88311     2018-01-04
88312     2017-07-24
88313     2017-12-07
88315     2018-01-04
             ...
120439    2018-01-04
120440    2018-01-04
120441    2018-01-04
120442    2018-01-04
120443    2017-09-02
Name: release_date, Length: 30068, dtype: object

In [12]:

#funcion para rellenar espacios

def llenado_NaN(row, columna, valor_dato):
    if pd.isna(row[columna]):
        return np.random.choice(valor_dato)
    else:
        return row[columna]

# Lista de columnas en las que deseas aplicar la función
columnas_a_llenar = ['developer', 'items_count', 'release_date'] 

# Aplicar la función de llenado de NaN a las columnas seleccionadas
for columna in columnas_a_llenar:
    data_df_nuevo[columna] = data_df_nuevo.apply(llenado_NaN, axis=1, args=(columna, valor_dato))

In [13]:
data_df_nuevo.isna().sum()

release_date        0
developer           0
price           89687
items_count         0
dtype: int64

In [14]:
data_df_nuevo["price"].value_counts()

price
4.99           4278
9.99           3902
2.99           3429
0.99           2607
1.99           2541
               ...
74.76             1
32.99             1
14.95             1
26.99             1
Free to Use       1
Name: count, Length: 162, dtype: int64

In [15]:
# Filtrar las cadenas de la columna "price"
cadenas_en_price = data_df_nuevo[data_df_nuevo['price'].apply(lambda x: isinstance(x, str))]['price']

# Contar la cantidad de veces que aparecen las tres cadenas en la columna "price"
count_free_to_play = cadenas_en_price.str.count("Free to Play").sum()
count_free_To_play = cadenas_en_price.str.count("Free To Play").sum()
count_free = cadenas_en_price.str.count("Free").sum()

total_count = count_free_to_play + count_free + count_free_To_play 
print("Cantidad de veces que aparecen 'Free to Play', 'Free To Play', 'Free' en la columna 'price':", total_count)

Cantidad de veces que aparecen 'Free to Play', 'Free To Play', 'Free' en la columna 'price': 2882

In [16]:
data_df_nuevo['price'].unique()

array([None, 4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, 'Free', 10.99, 1.5899999999999999, 14.99, 1.99,
       59.99, 8.99, 6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49,
       15.99, 1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.3900000000000001, 'Free HITMAN™ Holiday Pack', 36.99,
       4.49, 2.0, 4.0, 9.0, 234.99, 1.9500000000000002, 1.5, 199.0, 189.0,
       6.66, 27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0,
       27.49, 3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76,
       1.0, 2.3, 0.9500000000000001, 172.24, 249.99, 2.9699999999999998,
       10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9, 2.89,
       'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98, 9.95,
       7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49,
       1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [17]:
# Filtra y muestra solo los valores que contienen la palabra "free" (sin importar mayúsculas o minúsculas)
data_df_nuevo_f = data_df_nuevo[data_df_nuevo['price'].str.contains('free', case=False, na=False)]
data_df_nuevo_f = data_df_nuevo_f.reset_index(drop=True)
data_df_nuevo_f

     release_date                     developer         price items_count
0      2018-01-04              Secret Level SRL  Free To Play  2015-01-27
1      2017-07-24                  Poolians.com  Free to Play  2017-10-17
2      2017-06-16                    2014-10-09          Free  2000-11-01
3      2006-12-14  Unknown Worlds Entertainment          Free  2017-03-28
4      2008-10-17         Sandstorm Productions          Free  2017-12-29
...           ...                           ...           ...         ...
1895   2018-01-01                  Engin Mercan          Free  2016-06-28
1896   2015-01-15                    2016-06-16          Free  2016-09-08
1897   2018-01-03                  杭州分浪网络科技有限公司  Free To Play  2008-10-31
1898   2018-01-03                    KUMA GAMES          Free  2015-10-23
1899   2018-01-03                    2015-07-30          Free  2015-09-21

[1900 rows x 4 columns]

In [18]:
# Extrae los primeros 4 caracteres de la columna 'release_date' y crea una nueva columna 'year'
data_df_nuevo_f['year'] = data_df_nuevo_f['release_date'].str[:4]

data_df_nuevo_f

,release_date,developer,price,items_count,year
0,2018-01-04,Secret Level SRL,Free To Play,2015-01-27,2018
1,2017-07-24,Poolians.com,Free to Play,2017-10-17,2017
2,2017-06-16,2014-10-09,Free,2000-11-01,2017
3,2006-12-14,Unknown Worlds Entertainment,Free,2017-03-28,2006
4,2008-10-17,Sandstorm Productions,Free,2017-12-29,2008
...,...,...,...,...,...
1895,2018-01-01,Engin Mercan,Free,2016-06-28,2018
1896,2015-01-15,2016-06-16,Free,2016-09-08,2015
1897,2018-01-03,杭州分浪网络科技有限公司,Free To Play,2008-10-31,2018
1898,2018-01-03,KUMA GAMES,Free,2015-10-23,2018
1899,2018-01-03,2015-07-30,Free,2015-09-21,2018

In [19]:
data_df_nuevo_f = data_df_nuevo_f.drop('release_date', axis=1)

In [20]:
data_df_nuevo_f.head(2)

          developer         price items_count  year
0  Secret Level SRL  Free To Play  2015-01-27  2018
1      Poolians.com  Free to Play  2017-10-17  2017

In [21]:
porcentaje = 0.5  
data_df_nuevo_f = data_df_nuevo_f.sample(frac=porcentaje)
data_df_nuevo_f

                 developer         price items_count  year
1647  Ludosity,Remar Games  Free to Play  2014-02-13  2014
1050     Atom Switch, Inc.          Free  2016-10-25  2017
254             MuHa Games          Free  2016-12-16  2016
335       Katsudou Mangaya  Free To Play  2014-07-23  2016
663         MING-CHIEN LEE          Free  2015-12-21  2017
...                    ...           ...         ...   ...
908    CreativeForge Games          Free  2015-01-26  2017
1350     ICE Entertainment          Free  2015-04-06  2016
848             2014-07-25          Free  2017-08-24  2017
1834       Mechanist Games  Free to Play  2013-06-06  2014
1569                 Jagex  Free to Play  2017-03-02  2016

[950 rows x 4 columns]

In [22]:
# Ruta donde se guarda el archivo CSV
ruta_csv = r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_funcion5.csv"  

# Guarda el DataFrame en un archivo CSV
data_df_nuevo_f.to_csv(ruta_csv, index=False)  # El argumento 'index=False' evita que se incluya el índice en el archivo CSV

print("DataFrame guardado como archivo CSV en:", ruta_csv)

DataFrame guardado como archivo CSV en: C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_funcion5.csv