In [2]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns 
import ipywidgets as widgets
import ast
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.metrics.pairwise import cosine_similarity

CSV FUNCION 1

CSV CON COLUMNAS SELECCIONADAS DEL ARCHIVO REVIEWS
df_original

In [7]:
#  ruta completa del archivo CSV
ruta_csv = r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_original.csv"  

# archivo CSV en un DataFrame
df_original = pd.read_csv(ruta_csv)

In [8]:
df_original

                 user_id  recommend       fecha
0      76561198032746726          0  2013-11-27
1      76561198085933402          1  2015-02-14
2            togekiss906          0  2015-10-01
3            WarEagle247          1  2014-10-04
4      76561198094455101          1  2015-11-01
...                  ...        ...         ...
13736          meglonoth          1  2013-09-03
13737       exdddddddddd          1  2014-03-12
13738       reddayesocks          1  2015-12-30
13739  76561198069233575          1  2015-06-06
13740  76561198079107907          1  2015-04-08

[13741 rows x 3 columns]

In [9]:
# VERIFICAR ERRORES
df_original = pd.read_csv(r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_original.csv")

# Utiliza una expresión regular para buscar filas con formato incorrecto en la columna 'fecha'
filas_con_errores = df_original[~df_original['fecha'].str.match(r'\d{4}-\d{2}-\d{2}')]

# Muestra las filas con errores en la columna 'fecha'
print(filas_con_errores)

Empty DataFrame
Columns: [user_id, recommend, fecha]
Index: []

CSV COLUMNAS SELECCIONADAS PARA LA FUNCIÓN 1 DEL ARCHIVO GAMES

df_new_game_copy

In [31]:
# Especifica la ruta completa del archivo CSV
ruta_csv = r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_new_game_copy.csv"

# Carga el archivo CSV en un DataFrame
df_new_game_copy = pd.read_csv(ruta_csv)

In [32]:
df_new_game_copy

       price  items_count                  user_id
0       0.00        277.0        76561197970982479
1       0.00        888.0                  js41637
2       0.00        137.0                evcentric
3       0.00        328.0               Riot-Punch
4       0.00        541.0                    doctr
...      ...          ...                      ...
87622   0.00        177.0        76561198326700687
87623   0.00          0.0  XxLaughingJackClown77xX
87624   0.00          7.0        76561198329548331
87625   0.00          0.0        edward_tremethick
87626   4.99          0.0                 Sin dato

[87627 rows x 3 columns]

FUNCION 1

def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.  , df_new_game_copy, df_original

In [33]:
def userdata(User_id: str):
    
    # Filtrar los datos para el usuario específico
    datos_usuario = df_original[df_original['user_id'] == User_id]
    
    # Calcular la cantidad de dinero gastado por el usuario
    total_gastado = df_new_game_copy[df_new_game_copy['user_id'] == User_id]['price'].sum()
    
    # Calcular el porcentaje de recomendación en base a la columna correcta (ajusta esto)
    # Suponiendo que "opiniones.recomendacion" es la columna relevante en df_original
    porcentaje_recomendacion = (datos_usuario['recommend'].sum() / len(datos_usuario)) * 100
    
    # Calcular la cantidad de ítems
    cantidad_items = df_new_game_copy[df_new_game_copy['user_id'] == User_id]['items_count'].sum()
    
    # Devolver los resultados como un diccionario
    resultados = {
        'id_usuario': User_id,
        'total_gastado': total_gastado,
        'porcentaje_recomendacion': porcentaje_recomendacion,
        'cantidad_items': cantidad_items
    }
    
    return resultados

In [34]:
# LLAMAR A LA FUNCION USERDATA
usuario_id = '76561197970982479'

# Llama a la función userdata con el ID del usuario como argumento
resultados_usuario = userdata(usuario_id)

# Imprime los resultados
print(resultados_usuario)

{'id_usuario': '76561197970982479', 'total_gastado': 0.0, 'porcentaje_recomendacion': 100.0, 'cantidad_items': 277.0}

FUNCIÓN 2: def countreviews( YYYY-MM-DD y YYYY-MM-DD : str ): Cantidad de usuarios que realizaron reviews entre las fechas dadas y, el porcentaje de recomendación de los mismos en base a reviews.recommend.

CSV : df:original   .  cargado al comienzo (start_date: str, end_date: str, df_original: pd.DataFrame)

In [14]:
def countreviews(start_date: str, end_date: str,) -> dict:
    # Filtrar los datos para las fechas dadas en formato de cadena (str)
    filtrado_data = df_original[(df_original['fecha'] >= start_date) & (df_original['fecha'] <= end_date)]

    # Contar la cantidad de usuarios únicos que realizaron reseñas en ese período
    unique_users = filtrado_data['user_id'].nunique()

    # Calcular el porcentaje de recomendación en base a reviews.recommend
    # Suponiendo que "recommend" es la columna relevante en df_original
    # Si hay "None" en "recommend", se excluyen del cálculo
    reviews = filtrado_data['recommend'].dropna().astype(int)
    percentage_recommendation = (reviews.sum() / len(reviews)) * 100

    # Devolver los resultados como un diccionario
    resultados = {
        'cantidad_usuarios': unique_users,
        'porcentaje_recomendacion': percentage_recommendation
    }

    return resultados

In [15]:
# Llamar a la función countreviews pasando las fechas y el DataFrame
resultados = countreviews("2011-11-05", "2014-06-23")

# Imprimir los resultados
print(resultados)

{'cantidad_usuarios': 5064, 'porcentaje_recomendacion': 90.48182586644124}

FUNCION 3: 
Preparación del csv df_fusion3

In [12]:
# Carga de archivo CSV
ruta_csv = r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_fusion3.csv"

# Carga el archivo CSV en un DataFrame
df_fusion3 = pd.read_csv(ruta_csv)

In [13]:
df_fusion3.sample(2)

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_hours,app_name,Action,Adventure,Racing,Simulation,Sports,Strategy
4501,76561198075773650,76,76561198075773650,http://steamcommunity.com/profiles/76561198075...,8000.0,Tomb Raider: Anniversary,0.0,0.0,Rocksmith® 2014 Edition – Remastered – Bachman...,0,0,0,1,0,0
44552,NameHereGuy,34,76561198028939972,http://steamcommunity.com/id/NameHereGuy,219540.0,Arma 2: Operation Arrowhead Beta (Obsolete),9.0,0.0,Sleeping Dogs: Screen Legends Pack,1,1,0,0,0,0

In [14]:
df_fusion3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47932 entries, 0 to 47931
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           47932 non-null  object
 1   items_count       47932 non-null  int64
 2   steam_id          47932 non-null  int64
 3   user_url          47932 non-null  object
 4   item_id           47932 non-null  float64
 5   item_name         47932 non-null  object
 6   playtime_forever  47932 non-null  float64
 7   playtime_hours    47932 non-null  float64
 8   app_name          47932 non-null  object
 9   Action            47932 non-null  int64
 10  Adventure         47932 non-null  int64
 11  Racing            47932 non-null  int64
 12  Simulation        47932 non-null  int64
 13  Sports            47932 non-null  int64
 14  Strategy          47932 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 5.5+ MB

In [20]:
#Agrupa por género y suma el 'playtime_forever' para cada género
genre_ranking = df_fusion3.groupby('app_name')['playtime_forever'].sum().reset_index()

#Ordena el ranking de géneros en orden descendente
genre_ranking = genre_ranking.sort_values(by='playtime_forever', ascending=False)

In [21]:
genre_ranking

                                      app_name  playtime_forever
4524   Ghost In The Shell: Stand Alone Complex         1038590.0
8133     Relativity Wars - A Science Space RTS          909985.0
2527          Darkness and Flame: Born of Fire          722732.0
7343                         Party Hard Tycoon          610744.0
1175               Blackguards: Untold Legends          582275.0
...                                        ...               ...
1231                                Blood Feed               0.0
12071                               Witchcraft               0.0
9065             Safety Driving Simulator: Car               0.0
9068                  Sailor Moon R: The Movie               0.0
11519           Unearthed Inc: The Lost Temple               0.0

[12559 rows x 2 columns]

FUNCION 3: 
def genre( género : str ): Devuelve el puesto en el que se encuentra un género sobre el ranking de los mismos analizado bajo la columna PlayTimeForever.

In [15]:
def genre(genero: str):
    try:
        # Filtrar el DataFrame para obtener las filas del género especificado
        genre_df = df_fusion3[df_fusion3['app_name'] == genero]

        # Verificar si el DataFrame filtrado no está vacío
        if genre_df.empty:
            return "Género no encontrado en el DataFrame"

        # Calcular la posición del género en el ranking según el tiempo de juego 'playtime_forever'
        genre_ranking = genre_df.groupby('app_name')['playtime_forever'].sum().reset_index()
        genre_ranking = genre_ranking.sort_values(by='playtime_forever', ascending=False)
        position = genre_ranking[genre_ranking['app_name'] == genero].index[0] + 1

        # Crear un diccionario con la posición y el nombre del género
        result_dict = {
            "Posición": position,
            "Género": genero
        }
        return result_dict
    except IndexError:
        return "Género no encontrado en el ranking"

In [26]:
# Llamar a la función
genero = "Adventure"
position = genre(genero)
print(f"El género '{genero}' se encuentra en la posición {position} en el ranking.")

El género 'Adventure' se encuentra en la posición Género no encontrado en el DataFrame en el ranking.

FUNCION 4:

def userforgenre( género : str ): Top 5 de usuarios con más horas de juego en el género dado, con su URL (del user) y user_id.

In [25]:
def userforgenre(genero: str):
    try:
        # Filtra las filas correspondientes al género dado
        genero_df = df_fusion3[df_fusion3[genero] == 1]

        # Ordena el DataFrame por horas de juego en orden descendente
        sorted_genero_df = genero_df.sort_values(by='playtime_hours', ascending=False)

        # Selecciona las 5 primeras filas para obtener el top 5 de usuarios
        top_5_usuarios = sorted_genero_df[['user_url', 'item_id', 'playtime_hours']].head(5)

        # Convertir el DataFrame resultante en una lista de diccionarios
        usuarios_lista = top_5_usuarios.to_dict(orient='records')

        return usuarios_lista
    except KeyError:
        return f"Género '{genero}' no encontrado en el DataFrame"

In [26]:
# Llamado a la función 
resultado = userforgenre("Action")
print(resultado)

[{'user_url': 'http://steamcommunity.com/id/SYSTEMK', 'item_id': 42710.0, 'playtime_hours': 82.14}, {'user_url': 'http://steamcommunity.com/id/JustIcey', 'item_id': 4000.0, 'playtime_hours': 74.08}, {'user_url': 'http://steamcommunity.com/id/rinco69', 'item_id': 293260.0, 'playtime_hours': 72.23}, {'user_url': 'http://steamcommunity.com/profiles/76561198035591272', 'item_id': 220200.0, 'playtime_hours': 64.13}, {'user_url': 'http://steamcommunity.com/profiles/76561197961718947', 'item_id': 8930.0, 'playtime_hours': 63.05}]

FUNCION 5 

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de salida:
Activision	
Año	Contenido Free
2023	27%
2022	25%
xxxx	xx%

In [2]:
# Especifica la ruta completa del archivo CSV

ruta_csv = r"C:\Users\rossa\Desktop\ProyectoIndividualML\ProyectoIndividualML\df_funcion5.csv"

# Carga el archivo CSV en un DataFrame
df_funcion5 = pd.read_csv(ruta_csv)
#df_funcion5y6 = pd.read_csv((ruta_csv), dtype={'fecha': str})

In [3]:
df_funcion5.sample(2)

          developer         price items_count  year
831      Ejoy Games  Free To Play  2014-06-06  2017
870  Bitl,Cobalt-57          Free  2016-11-21  2015

In [4]:
def developer(desarrollador: str):
    try:
        # Filtrar el DataFrame para obtener las filas del desarrollador especificado
        df_desarrollador = df_funcion5[df_funcion5['developer'] == desarrollador]

        # Verificar si el DataFrame filtrado no está vacío
        if df_desarrollador.empty:
            return "No se encontraron datos para el desarrollador especificado."

        # Calcular el porcentaje de contenido gratuito ("Free") por año
        def calcular_porcentaje_free(group):
            total_items = len(group)
            porcentaje_free = (group['price'] == 'Free').sum() / total_items * 100
            return porcentaje_free

        porcentaje_free_por_anio = df_desarrollador.groupby('year').apply(calcular_porcentaje_free)

        # Calcular la cantidad total de items por año
        cantidad_items_por_anio = df_desarrollador['year'].value_counts().sort_index()

        # Combinar las dos series en un DataFrame
        resultado_df = pd.DataFrame({'Año': porcentaje_free_por_anio.index,
                                     'Contenido Free (%)': porcentaje_free_por_anio.values,
                                     'Cantidad de Items': cantidad_items_por_anio.values})

        # Convertir el DataFrame resultante en una lista de diccionarios
        resultado_lista = resultado_df.to_dict(orient='records')

        return resultado_lista
    except KeyError:
        return f"Desarrollador '{desarrollador}' no encontrado en el DataFrame"

In [5]:
# Llamada a la función para obtener información del desarrollador específico
 
resultado = developer('Monster Games')
print(resultado)

[{'Año': '2016', 'Contenido Free (%)': 50.0, 'Cantidad de Items': 6}, {'Año': '2017', 'Contenido Free (%)': 100.0, 'Cantidad de Items': 2}]

In [64]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\rossa\appdata\local\programs\python\python310\lib\site-packages (1.3.0)

[notice] A new release of pip available: 22.2.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rossa\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rossa\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rossa\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rossa\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.24.3)